<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			

			<form action="/update/<%=user._id %>" method="post">
				<div class="form-group">
				<h2> Pick a type of profile</h2>
					<input type="radio" class="form-control" name="prof_type" value="true" <%if (user.prof_type) { %>checked = "checked"<% } %>
					>Tutor<br>
					<input type="radio" class="form-control" name="prof_type" value="false"<%if (!user.prof_type) { %>checked = "checked"<% } %>
					>Student
				</div>
				<div class="form-group">
					<label>Link to profile picture</label>
					<input type="text" class="form-control" name="profilepic" value="<%=user.profilepic %>">
				</div>
				<div class="form-group">
					<label>About me</label>
					<textarea name="whoami" class="form-control" value="<%= user.whoami %>"></textarea>
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Update</button>
			</form>

		</div>

	</div>
</body>
</html>